<h2 class="left-align">Get started with Voice Calling</h2>
<div class="row">
    <div>
        <button  type="button" id="join">Join</button>
        <button  type="button" id="leave">Leave</button>
    </div>
</div>
<br>
<div id="message" *ngFor="let item of statusMessages">
  {{item}}
</div>

<button type="button" id="muteAudio">Mute Audio</button>
<br><label> Local Audio Level :</label>
<input type="range" min="0" id= "localAudioVolume" max="100" step="1"><br>
<label> Remote Audio Level :</label>
<input type="range" min="0" id= "remoteAudioVolume" max="100" step="1">


<h2 class="left-align">Get started with video calling</h2>
<div class="row">
    <div>
        <button type="button" id="join-video">Join</button>
        <button type="button" id="leave-video">Leave</button>
    </div>
</div>

